# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.sqlite3

# Virtual environment
venv/
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Data folders (raw, bronze, silver, gold) - optional, if you want to store raw data in Git, remove these
data/raw/
data/bronze/
data/silver/
data/gold/

# VSCode / IDEs
.vscode/
.idea/